@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */

body {
  /* font: 1.5rem C sans-serif; */
  font-family: "Merriweather";
  font-size: medium;
  text-align: center;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

header,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

.logoStyle {
  font-size: 40px;
  text-align: left;
  margin: 10px;
  font-family: "Alegreya";
}

header {
  position: sticky;
  color: whitesmoke;
  background-color: #183059;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  min-height: 80px;
  font-size: 15px;
  z-index: 10;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Styling for cards compnent */

.cardimg {
  width: 100%;
  height: 250px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.container-slide {
  position: relative;
  object-fit: contain;
}

.container-slide:hover .image {
  opacity: 0.3;
}

.container-slide:hover .middle {
  opacity: 0.68;
}

/* Main Styling */

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Footer Styling*/
footer {
  bottom: 0;
  height: fit-content;
  background-color: #183059;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  color: white;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.footer {
  width: 100% !important;
  position: absolute;
}
.footerP {
  width: 80%;
}
.footerLinks {
  color: white;
  font-size: 20px;
}

/* Carousel Styling */
.carouselImage {
  width: 100%;
  height: 300px;
}

/* Form Styling */
.parentTextBox {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.textBox {
  width: 100%;
}
.parentFormDiv {
  display: grid;
  gap: 5%;
  grid-template-columns: 47.5% 47.5%;
  overflow: hidden;
}
.childFormDiv {
  width: 100%;
}
.imgFormstyle {
  width: 100%;
  height: 100%;
}

/* Max Width Media Queries */
@media screen and (max-width: 820px) {
  .parentFormDiv {
    display: block;
    gap: 0%;
    grid-template-columns: none;
  }
  .childFormDiv {
    width: 100%;
  }
  .imgFormstyle {
    display: none;
  }
}

/* Scrolling Media Queries */
@media screen and (max-width: 380px) {
  .footer {
    position: relative;
  }
  main {
    overflow-y: scroll;
  }
}
@media screen and (max-height: 720px) {
  .footer {
    position: relative;
  }
  main {
    overflow-y: scroll;
  }
}

/* || XS */

@media screen and (max-width: 395px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerP {
    width: 100%;
    font-size: small;
  }
  .footerLinks {
    font-size: 15px;
    text-align: center;
  }
  .footerLinksParent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85px;
  }
}

/* || SMALL */
@media screen and (min-width: 576px) {
  header {
    font-size: 20px;
  }

  footer {
    height: fit-content;
    padding-bottom: 0;
  }
  .footerP {
    width: 50%;
  }
  .carouselImage {
    height: 400px;
  }
  .textBox {
    width: 50%;
  }
}

/* || MEDIUM */

@media screen and (min-width: 768px) {
  /*body {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold)
  }*/

  .carouselImage {
    height: 600px;
  }
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .cardimg {
    width: 100%;
    height: 350px !important;
  }
  .container-slide {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

/* || LARGE */

@media screen and (min-width: 820px) {
  /*body {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick)
  }*/

  .carouselImage {
    height: 700px;
  }
  main {
    width: 80vw;
    justify-items: center !important;
    align-items: center !important;
    margin: 0 auto;
  }
  .parentFormDiv {
    min-width: 500px;
  }
  .textBox {
    min-width: 100%;
  }
}

/* || XL  */

@media screen and (min-width: 1200px) {
  /* body {
    background-color: rebeccapurple !important;
    background-image: radial-gradient(whitesmoke, rebeccapurple)
  } */
  footer {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    color: white;
    padding: 10px 20px;
    height: fit-content;
  }

  .carouselImage {
    height: 800px;
  }
  main {
    width: 80vw;
    justify-items: center !important;
    align-items: center !important;
    margin: 0 auto;
  }
}

/* || MOBILE DEVICE LANDSCAPE  */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  /*body {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue)
  }*/
  h1,
  h2 {
    font-size: 1.5rem;
  }
}
